*{
    margin: 0;
    padding: 0;
  
   
}
.heading{
    text-align: center;
}
.main-container{
    border: 1px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    /* width: 100%; */
}
.container{
    border: 1px solid black;
    height: 450px;
    width: 400px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    box-shadow: 5px 5px 10px white,-5px -5px 10px white;
   
}
button{
    margin: 6px;
    height: 60px;
    width: 60px;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 7px;
    border: none;
    box-shadow: 3px 3px 6px black,-3px -3px 6px black;
}
#input{
    border: 1px solid black;
    height: 60px;
    width: 300px;
    background-color: black;
    color: white;
    margin-top: 14px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div{
    margin-top: 10px;
}